/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/* Primary color */
/* intro and email */
/* main bg */
/* test bg */
/* footer bg */
/* Accent colors */
/* white */
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 0.9rem;
}

.hero-header,
.hero-desc,
.service-header,
.service-desc {
  text-align: center;
}

.hero-header,
.service-header,
.prod-header,
.email-header,
.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.hero-header {
  font-size: 1.5rem;
  line-height: 1.3;
}
@media (min-width: 559px) {
  .hero-header {
    font-size: 2.5rem;
  }
}

.hero-desc,
.service-desc,
.prod-top,
.prod-bot,
.test-desc,
.email-desc,
.location-desc {
  line-height: 1.6;
}

.prod-header {
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 559px) {
  .prod-header {
    font-size: 2.3rem;
    text-align: left;
    line-height: 1.3;
  }
}

@media (min-width: 559px) {
  .prod-top,
.prod-bot {
    font-size: 1.3rem;
  }
}

@media (min-width: 559px) {
  .hero-desc {
    font-size: 1.3rem;
  }
}

@media (min-width: 559px) {
  .service-header {
    font-size: 1.5rem;
  }
}

@media (min-width: 559px) {
  .service-desc {
    font-size: 0.9rem;
  }
}

.test-desc {
  font-size: 0.7rem;
}
@media (min-width: 559px) {
  .test-desc {
    font-size: 1rem;
  }
}

.profile-name {
  font-size: 0.9rem;
  font-weight: 700;
}

.profile-job {
  font-size: 0.6rem;
}

.nav-link {
  font-size: 0.7rem;
}
@media (min-width: 559px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (min-width: 559px) {
  .btn {
    font-size: 1.3rem;
  }
}

.email-header {
  font-size: 1rem;
}
@media (min-width: 559px) {
  .email-header {
    font-size: 2rem;
  }
}

.email-desc {
  font-size: 0.85rem;
  text-align: center;
}
@media (min-width: 559px) {
  .email-desc {
    font-size: 1rem;
  }
}

.footer-nav-link {
  font-size: 1rem;
}

.fab {
  font-size: 1rem;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  padding: 1em 5em;
  border-radius: 2rem;
  color: white;
  border: none;
  background: linear-gradient(to right, #65e2d9, #339ecc);
}
.btn:hover {
  background: #65e2d9;
  cursor: pointer;
}
@media (min-width: 559px) {
  .btn {
    padding: 1.2em 5em;
    border-radius: 3rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 559px) {
  .email-btn {
    padding: 0.8em 1.3em;
  }
}

a {
  text-decoration: none;
  color: white;
}

@media (min-width: 559px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    max-width: 60%;
    gap: 8em;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  margin-bottom: 5em;
  padding: 0 1rem;
}
@media (min-width: 559px) {
  .service-card {
    max-width: 41%;
  }
}

@media (min-width: 559px) {
  .service-desc {
    width: 85%;
  }
}

.service-img {
  max-width: 20%;
}

.test-cards {
  background: #202a3c;
  max-width: 72%;
  border-radius: 0.2rem;
  margin-bottom: 2em;
  padding: 1.4em;
}
@media (min-width: 559px) {
  .test-cards {
    gap: 2em;
    width: 20%;
    padding: 2rem 1.7rem;
  }
}

.quotes {
  max-width: 7%;
  position: relative;
  right: 8.4em;
}
@media (min-width: 559px) {
  .quotes {
    z-index: -999;
    left: 6.7em;
    top: -10em;
  }
}

.test-desc {
  margin-bottom: 1.5em;
}

.test-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.8em;
}

.profile-img {
  width: 11%;
  border-radius: 100%;
}

.profile-name {
  margin-bottom: 0.5em;
}

.email-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  background: #1c2431;
  max-width: 90%;
  padding: 2em 0;
  border-radius: 0.3rem;
  top: -12em;
}
@media (min-width: 559px) {
  .email-card {
    width: 50%;
  }
}

@media (min-width: 559px) {
  .email-header {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.email-desc {
  padding: 1em 1.5em;
}
@media (min-width: 559px) {
  .email-desc {
    width: 80%;
    margin-bottom: 1em;
  }
}

.email-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
@media (min-width: 559px) {
  .email-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1em;
    width: 90%;
    gap: 2em;
  }
}

.input-container {
  height: 3em;
  width: 98%;
  background: white;
  border-radius: 2rem;
}
@media (min-width: 559px) {
  .input-container {
    height: 4em;
    width: 60%;
  }
}

.email-input {
  padding: 1em 5.8em 1em 1.4em;
  border-radius: 2rem;
  border: none;
  text-align: bottom;
}
@media (min-width: 559px) {
  .email-input {
    padding: 1.6em 25em 1.6em 1.4em;
  }
}

.error-container {
  align-self: center;
}
@media (min-width: 559px) {
  .error-container {
    margin-left: 7em;
    align-self: flex-start;
  }
}

.error {
  color: #ff4242;
  opacity: 0;
}

.nav-container,
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-container {
  justify-content: space-between;
  margin: 2em;
  max-width: 80%;
}
@media (min-width: 559px) {
  .nav-container {
    width: 100%;
    margin: 5em 8em;
  }
}

.nav-logo {
  max-width: 30%;
}

.nav-list {
  gap: 1em;
}
@media (min-width: 559px) {
  .nav-list {
    gap: 3em;
    align-self: flex-end;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0 5em;
  gap: 2em;
}
@media (min-width: 559px) {
  .hero-section {
    max-width: 80%;
    margin-bottom: 4em;
  }
}

.hero-img {
  max-width: 100%;
}

@media (min-width: 559px) {
  .hero-header {
    max-width: 60%;
  }
}

.hero-desc {
  padding: 1em 0;
  margin-bottom: 1em;
}
@media (min-width: 559px) {
  .hero-desc {
    max-width: 55%;
    padding: 0 0.5em;
  }
}

.services {
  margin-top: 4em;
  margin-bottom: 9em;
}

.prod-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-bottom: 8em;
}
@media (min-width: 559px) {
  .prod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 12em;
  }
}

.prod-img {
  max-width: 90%;
}

.prod-desc-container {
  padding: 0 1em 1em;
}
@media (min-width: 559px) {
  .prod-desc-container {
    max-width: 40%;
  }
}

@media (min-width: 559px) {
  .prod-header {
    max-width: 45%;
  }
}

.prod-header,
.prod-top,
.prod-bot {
  margin-bottom: 1em;
}

.prod-link {
  color: #65e2d9;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #65e2d9;
}

.arrow-icon {
  padding: 0 0.3em 0;
  max-width: 5.5%;
  top: 0.3em;
  position: relative;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 14em;
}
@media (min-width: 559px) {
  .test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20em;
    gap: 3rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #0b1523;
  width: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin-top: 13em;
  gap: 2em;
  max-width: 80%;
}
@media (min-width: 559px) {
  .footer-info {
    width: 100%;
  }
}

@media (min-width: 559px) {
  .nav-info-container {
    width: 90%;
    display: flex;
    gap: 8em;
    align-items: flex-start;
    margin-bottom: 5em;
  }
}

.footer-logo {
  max-width: 50%;
  margin-left: 1em;
  margin-bottom: 1em;
}
@media (min-width: 559px) {
  .footer-logo {
    max-width: 10%;
    align-self: flex-start;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
@media (min-width: 559px) {
  .location {
    width: 25%;
  }
}

.location-icon {
  align-self: flex-start;
  margin-top: 0.4em;
}
@media (min-width: 559px) {
  .location-icon {
    align-self: center;
    margin-bottom: 3em;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}
@media (min-width: 559px) {
  .contacts-container {
    width: 15%;
    margin-top: 0;
  }
}

.number-container,
.email-icon-container {
  display: flex;
  gap: 0.8em;
}

.phone-icon {
  max-width: 5%;
}
@media (min-width: 559px) {
  .phone-icon {
    height: 1.3em;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin: 2em 0 5em;
}
@media (min-width: 559px) {
  .footer-nav {
    flex-direction: row;
    gap: 3em;
    margin: 0;
  }
}

.footer-container-left,
.footer-container-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 559px) {
  .footer-container-right {
    margin-top: 0;
  }
}

.footer-container-left {
  margin-top: 2em;
}
@media (min-width: 559px) {
  .footer-container-left {
    margin: 0 0 2em;
  }
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
  gap: 1em;
  width: 90%;
  margin: 2em 0;
}
@media (min-width: 559px) {
  .contact-icon {
    width: 20%;
    margin: 0 0 4em;
  }
}

.fab {
  border: 1px solid white;
  border-radius: 100%;
  padding: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.bg-curvy {
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 55%;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 559px) {
  .bg-curvy {
    background-image: url("../images/bg-curvy-desktop.svg");
    background-position: bottom;
    width: 100%;
  }
}

body {
  background: linear-gradient(to bottom, #1c2431 11.2%, #181f2a 11.2%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 559px) {
  body {
    background: linear-gradient(to bottom, #1c2431 33%, #181f2a 33%);
  }
}

/*# sourceMappingURL=main.css.map */
