/* Primary color */

$prim-blue-300: hsl(217,28%,15%); /* intro and email */
$prim-blue-500: hsl(218,28%,13%); /* main bg */
$prim-blue-600: hsl(219, 30%, 18%); /* test bg */
$prim-blue-700: hsl(216, 53%, 9%); /* footer bg */

/* Accent colors */
$acc-cyan: hsl(176, 68%, 64%);
$acc-blue: hsl(198, 60%, 50%);
$acc-red: hsl(0, 100%, 63%);

/* white */
$white: hsl(0, 0%, 100%);

$raleway: 'Raleway';
$open-sans: 'Open Sans';

