@use '../utils' as var;

.footer {
  @include var.flex-column;
  position: relative;
  background: var.$prim-blue-700;
  width: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin-top: 13em;
  gap: 1em;
  max-width: 80%;

  @include var.desktop-up {
    width: 100%;
  }
}

.nav-info-container {
  @include var.desktop-up {
    width: 90%;
    display: flex;
    gap: 8em;
    align-items: flex-start;
    margin-bottom: 5em;
  }
}

.footer-logo {
  max-width: 50%;
  margin-left: 1em;
  margin-bottom: 1em;

  @include var.desktop-up {
    max-width: 10%;
    align-self: flex-start;
  }
}

.location {
  @include var.flex-row;
  gap: 1em;
  
  @include var.desktop-up {
    width: 25%;
  }
}

.location-icon {
  align-self: flex-start;
  margin-top: .4em;

  @include var.desktop-up {
    align-self: center;
    margin-bottom: 3em;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @include var.desktop-up {
    width: 15%;
  }
  
}

.number-container,
.email-icon-container
{
  display: flex;
  gap: .8em;
}

.phone-icon {
 max-width: 5%;

 @include var.desktop-up {
  height: 1.3em;
 }
}

.footer-nav {
  margin: 3em 0;

  @include var.desktop-up {
    margin: 0;
    ul {
      display: flex;
      gap: 6em;
    }
  }
}

.footer-container-left,
.footer-container-right
{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-container-right {
  margin-top: 2.5em;

  @include var.desktop-up {
    margin-top: 0;
  }
}

.contact-icon {
  @include var.flex-row;
  gap: 1em;
  width: 20%;
  margin: 2rm 0;
}

.fab {
  border: 1px solid var.$white;
  border-radius: 100%;
  padding: .5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
