@use '../components';
@use '../utils' as var;

.nav-container,
.nav-list
{
  @include var.flex-row;
}

.nav-container {
  justify-content: space-between;
  margin: 1rem;
}

.nav-logo {
  width: 30%;
}

.nav-list {
  gap: 1rem;
}
