@use '../components';
@use '../utils' as var;

.nav-container,
.nav-list
{
  @include var.flex-row;
}

.nav-container {
  justify-content: space-between;
  margin: 2em;
  max-width: 80%;

  @include var.desktop-up {
    width: 100%;
    margin: 5em 8em;
  }

}

.nav-logo {
  max-width: 30%;
}

.nav-list {
  gap: 1em;

  @include var.desktop-up {
    gap: 3em;
    align-self: flex-end;
  }
}
