@use '../utils' as var;

.prod-container {
  @include var.flex-column;
  gap: 4rem;
  margin-bottom: 8rem;
}
.prod-img {
  max-width: 90%;
}

.prod-desc-container {
  padding: 0 1rem 1rem;
}

.prod-header,
.prod-top,
.prod-bot
{
  margin-bottom: 1rem;
}

.prod-link {
  color: var.$acc-cyan;
  padding-bottom: .2rem;
  border-bottom: 1px solid var.$acc-cyan;
}

.arrow-icon {
  padding: 0 .1rem 0;
  width: 5.5%;
  top: .3rem;
  position: relative;
}
