@use '../utils' as var;

.test {
  @include var.flex-column;
  margin-bottom: 14em;

  @include var.desktop-up {
    @include var.flex-row;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 20em;
    gap: 2rem;
  }
}

