@use '../utils' as var;

.test {
  @include var.flex-column;
  margin-bottom: 14em;

  @include var.desktop-up {
    @include var.flex-row;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 20em;
    gap: 2rem;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
