@use '../utils' as var;

.btn {
  padding: 1em 5em;
  border-radius: 2rem;
  color: var.$white;
  border: none;
  background: linear-gradient(to right, var.$acc-cyan, var.$acc-blue);
  &:hover{
    background: var.$acc-cyan;
    cursor: pointer;
  }

  @include var.desktop-up {
    padding: 1.2em 5em;
    border-radius: 3rem;
    font-size: 1.3rem;
  }
}

.email-btn {
  @include var.desktop-up {
    padding: .8em 1.3em
  }
}

