@use '../utils' as var;

.test-cards {
  background: var.$prim-blue-600;
  max-width: 75%;
  border-radius: .2rem;
  margin-bottom: 2em;
  padding: 1.2em;
  
  @include var.desktop-up {
    gap: 1.7em;
    width: 100%;
    padding: 2rem 1.7rem;
  }
}

.quotes {
  max-width: 7%;
  position: relative;
  right: 8.4em;

  @include var.desktop-up {
    z-index: -999;
    left: 5.5em;
    top: -9em;
  }
}

.test-desc {
  margin-bottom: 1.5em;
}

.test-profile-card {
  @include var.flex-row;
  justify-content: flex-start;
  gap: .8em;
}

.profile-img {
  width: 11%;
  border-radius: 100%;
}

.profile-name {
  margin-bottom: .5em;
}
